<body>
<div id="top">
  <h1>YOUR INSIDE</h1>
  <p>「YOUR INSIDE」はバンドメンバー募集に活用できる「インタビュー形式プロフィール投稿サービス」です。</br>
従来のメン募サイトではプロフィール欄に好きなバンドを羅列するくらいしか自己PRできず
なかなか相性ピッタリのメンバーに出会えない、もしくは出会うまでに時間がかかっている方が多いと思います。</br>
「YOUR INSIDE」でインタビュー形式プロフィールを作成し、インタビューのURLをメン募サイトのプロフィールやSNSで拡散してください。</br>
メン募サイトで充分にアピールできなかったアナタの「音楽観」や「センス」を深い部分まで知ってもらい
アナタと相性抜群のメンバーを見つけて最高のバンドを組みましょう！</p>
 
<div id="sample">
   <a href="/" class="btn-push">sample interview</a>    
</div>
</div>

  <footer>
      <p class="copyright  text-center">Copyright &copy; YOUR INSIDE</p>
  </footer>
</body>

</html>

