<body>
 <div class="pt-5 text-center">
  <p class="top_title">YOUR INSIDE</p>
  <p class="top_info">「YOUR INSIDE」はバンドメンバー募集に活用できる「インタビュー形式プロフィール投稿サービス」です。</br>
      従来のメン募サイトではプロフィール欄に好きなバンドを羅列するくらいしか自己PRできずなかなか相性ピッタリのメンバーに出会えない、もしくは出会うまでに時間がかかっている方が多いと思います。</br>
      「YOUR INSIDE」でインタビュー形式プロフィールを作成し、インタビューのURLをメン募サイトのプロフィールやSNSで拡散してください。</br>
      メン募サイトで充分にアピールできなかったアナタの「音楽観」や「センス」を深い部分まで知ってもらいアナタと相性抜群のメンバーを見つけて最高のバンドを組みましょう！</p>
 </div>



<div class="row justify-content-center">
  <a href="/" class="sample_button">サンプル・インタビュー</a> 
</div>


<div class="row">
  <div class="col-sm-4">
   <div id="login-info">
    <a href="/" class="login_button">インタビュー作成は</br>ログインしてください</a>
   </div>
  </div>
  

  <!--<div class="mx-auto"></div>-->
  <!--<div class="col-sm-4 float-right">-->
  <div class="offset-sm-4 col-sm-4"> 
   <div id="search-info">
    <a href="/" class="search_button">インタビュー検索へ</br>(ログイン不要)</a>
   </div>
  </div>
</div>


</body>


<footer>
   <p class="copyright  text-center">Copyright &copy; YOUR INSIDE</p>
 </footer>

</html>

