<div class="card">
  <div class="card-body">
    <h3 class="pt-3">【開発者について】</h3>
    <p>都内でサラリーマンをやりながら音楽をつくったりバンドをやったりということを１０年近くやっております（37歳男）</p>
    <p><%= link_to "Twitter","https://twitter.com/sea_slug_songs",target: :_blank , class:"btn btn-warning mt-３" %></p>
    <p>ベースとギターが弾けたり宅録もやったりします。</p>
    <h3 class="mt-5">【開発の経緯】</h3>  
      2019年の７月下旬からプログラミングに興味を持ち始め、知識ゼロから初めて作ったのが
      こちらのWebサービスです。プログラミングは基礎をある程度やってからオリジナルサービスを開発するとスキルが身につきやすい
      ということで頑張って作ってみました。知識ゼロから始めて2ヶ月くらいで作ったので必要最低限過ぎますが「大事なのは終わらせること」ということだと思い、ひとまずリリース。
    <h3 class="mt-5">【どのような方に向けて作ったのか】</h3> 
      所謂「Twitterぽい」「Instagramぽい」サイトを作るよりは自分にとって「使ってくれるユーザーが想像できる」サービスを作ろうと思いました。
      次に自分の過去を振り返ってみて、バンドをやりたくてメンバー募集サイトに登録したものの、いいメンバーが２年近く見つからなかったという苦い経験を思い出しました。
      いつまでも見つからない状況を脱したきっかけは当時流行りはじめたmixi。そこで好きなバンド、好きなアルバム、好きな映像や音楽への熱い想いや考え方を日記に
      綴ることで登録後すぐに気の合う仲間を見つけることができました。メンバー募集サイトは「方向性（プロ、アマ）」「住まい」「年齢」「地域」「週何回の練習」
      「フリーター？社会人？」などの「条件」が中心で、なかなか「その人の音楽的感性、人柄」が見えにくいのではと思い、過去にメンバー募集で苦しんだ自分自身へ
      捧げるつもりで構想を練っていきました。あの頃の私のように「バンドを始めてみたいけど、どうやって仲間を見つけたらいいかわからない」そんな方に使って貰えたら嬉しいです。
    <h3 class="mt-5">【何ができるのか】</h3>
    　<p>バンドマンだからこそ作れる「バンドマンに聞いてみたい質問」を用意しました。いくつかの質問に答えて自分だけの「インタビュー風プロフィール」を作ることができます。</p>
    　<p class="font-weight-bold">サンプルとして私の作ったインタビューが見れます（ちなみにメンバー募集はしていません）</p>
　　　<p><%= link_to "まずはサンプルをチェック！",interview_path(id: 1),target: :blank ,class: "btn btn-primary text-dark h5 font-weight-bold" %></p>
活用される時のイメージとして「既存メン募サイト」の拡張機能といった感じを目指しました。すでに老舗のメン募プラットフォームがたくさんあるのでそれらと競合ではなく共存して使ってもらいやすくしようと考えました。メン募サイト内で他者と差別化するツールとして使ってください。
    　例えば「好きなバンドTシャツは？」なんて質問もあります。私も「あのバンドTシャツ着てる奴は間違いない！」みたいな謎の判断基準があります。これ、音楽好きの方なら分かってもらえるはず、、。
もう一つ、これは自分なりのおふざけでもあるのですが「バンドを始めてすらいない人へのインタビュー」って普通ありません。なぜならそんなもん需要がないから。
だって普通は売れてるミュージシャン、バンドしかインタビューされないし、しようとも思わない。普通はそういうもんです。だけど、「バンドをこれからやってくぞ！」ていう
      「想い」だけは異常にすごい人の話って初期衝動「だけ」しかなくてそれはそれで面白いと思うんですよ。何を隠そう私はバンドメンバーが見つかってもいないのに、一緒にメンバーを探してた
      友人と「こんな曲を作ってみたい！」「こんなバンドでライブしたい！」「こんなアルバムを見つけた！」なんていうのを毎週会ってはコーヒー1杯で何時間も語っていました、、。
      バンドを初めてすらいない人の情熱は凄いんです（ですよね？）。その熱い想いをぶつけてください。いいメンバーに巡り会えるお手伝いができたら幸いです。
    <h3 class="mt-5">【できなかったこと】</h3>
    現時点で技術不足により実装できなかった機能は「DM機能」「パスワード再設定機能」です。
    前者はサイト内で気に入った方を見つけても連絡を取れる手段がないことになります。そこでSNSへのリンクを用意しました。連絡を取ってみたい方が
    SNSを登録していた場合、登録SNSへ飛べますのでそちらで連絡を取ってみて下さい。後者の「パスワード再設定」は出来るだけ早く実装したいですが現時点では未実装です。
    アカウント登録時のメールアドレス、パスワードは必ず覚えておいてください。コツコツ勉強して、出来るだけ早く頑張って実装します、、
    <p>（どうしてもパスワードを忘れてしまってインタビューを削除したい場合などはこちらのアドレス、もしくはTwitterへ連絡ください。)</p>
    
    <p>[mail] youryourinside@gmail.com</p>
  </div>
</div>
